*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Josefin Sans,sans-serif;
    outline: none;
}
section{
    width: 100%;
    text-align: center;

}

input[type="checkbox"]{
    display:none;
}
label[for="bt_menu"]{
    padding: 5px;
    background-color: rgb(43, 10, 233);
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    display:none;
}
@media(max-width:800px){
    label[for="bt_menu"]{
        display:block;
    }
    .menu nav{
        margin-top: 0px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        height: fit-content;
        background-color: darkblue;
        transition: all 0.4s;
    }
    #bt_menu:checked ~ ul li{
        display:list-item;
        margin-bottom: 20px;

    }
    .menu a{
        background-color: darkblue;
        display: block;
        padding: 20px;
        height: auto;
        z-index: 1;
       
    }
    
    #bt_menu:checked ~
section#menu{
    margin-left: -100%;
    transition: all 0.4s;;
    position: fixed;
   

 }
 .menu section{
    transition: all 0.4s;;
     margin:0;
     height: 250px;
    
 }
 .menu img[alt="logo-do-site"]{
       display: none;
 }
}
nav{
    
    margin-top: 10px;
    background-color: rgb(30, 27, 221);
    width: 100%;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 5px;

}
ul li{
    display:inline-flex;
    flex-wrap: wrap;
    color: azure;
    list-style: none;
    align-items: center;
    text-decoration: none;
}
a{
    padding: 14px;
    text-decoration: none;
    color: azure;
}
a :hover{
    color: rgb(251, 54, 64);
}
h1{
    margin-top: 60px;
    margin-bottom: 20px;
    align-items: center;
    color: rgb(251, 54, 64);
    font-size: 3.7em;
    text-align: center;

}

div.sobre{
    height: 650px;
    width: 100%;
    display: inline-flex;
}
div#text{
    height: 400px;

}

@media(max-width:800px){
   
    div.sobre{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: auto;
        width: auto;
        overflow: hidden;
    }

    img#sobre{
        height: auto;
        margin-top: 190px;
        width: 100%;
        display: flex;
        overflow: hidden;
    }
}

input{
    outline: none;
    width: 45%;
    border-bottom: solid 2px blue;
    padding:20px 200px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 1.5em;

}
input[type="radio"]{
    display: inline-block;
    margin: 8px 0px 5px ;
    
    
}
@media(min-width:800px){
label{
    margin-left: -80px;
}
}
.radio{
    
    text-align: left;
    margin: 0 auto;
    width: 35%;
    padding: 10px 70px 10px ;

}
h2{
    color:rgb(30, 27, 221);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.2em;
}
button
{
     padding: 19px;
     padding-left: 110px;
     padding-right: 110px;  
     background-color: rgb(30, 27, 221);
     color: floralwhite;
     margin-top:10px;
     margin-bottom: 30px;
     border-radius: 25px;
     cursor: pointer;
}
button:hover{
    background-color:  rgba(30, 27, 221, 0.86) ;
}

footer{
    background-color: rgb(30, 27, 221);
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    
}